
*.config
*.cache
*.pdb
*.exe
*.manifest
Loops and arrays/.vs/Loops and arrays/v14/.suo
*.sln
*.csproj
Loop algorithms/.vs/Loop algorithms/v14/.suo
MinAndMaxValue/.vs/MinAndMaxValue/v14/.suo
Loop algorithms/Loop algorithms/obj/Release/Loop algorithms.csproj.FileListAbsolute.txt
Loops and arrays/Loops and arrays/obj/Debug/Loops and arrays.csproj.FileListAbsolute.txt
Loop algorithms/Loop algorithms/obj/Debug/Loop algorithms.csproj.FileListAbsolute.txt
Loop algorithms/Loop algorithms/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Loop algorithms/Loop algorithms/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Loop algorithms/Loop algorithms/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Loop algorithms/Loop algorithms/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Loop algorithms/Loop algorithms/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Loop algorithms/Loop algorithms/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Loop algorithms/Loop algorithms/Properties/AssemblyInfo.cs
Loops and arrays/Loops and arrays/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Loops and arrays/Loops and arrays/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Loops and arrays/Loops and arrays/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Loops and arrays/Loops and arrays/Properties/AssemblyInfo.cs
MinAndMaxValue/MinAndMaxValue/obj/Debug/MinAndMaxValue.csproj.FileListAbsolute.txt
MinAndMaxValue/MinAndMaxValue/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MinAndMaxValue/MinAndMaxValue/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MinAndMaxValue/MinAndMaxValue/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MinAndMaxValue/MinAndMaxValue/Properties/AssemblyInfo.cs
*.txt
Loops and arrays/Loops and arrays/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Loops and arrays/Loops and arrays/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Loops and arrays/Loops and arrays/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MyTryParse and Pow/.vs/MyTryParse and Pow/v14/.suo
MyTryParse and Pow/MyTryParse and Pow/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyTryParse and Pow/MyTryParse and Pow/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MyTryParse and Pow/MyTryParse and Pow/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyTryParse and Pow/MyTryParse and Pow/Properties/AssemblyInfo.cs
