@{
    ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
	Shopping
</h3>

<div>

</div>

@section layout_footer {
	<footer>
		<p>this is a section from index view</p>
	</footer>
}